body {
    font-family: Arial, sans-serif;
}

.login-container {
    width: 50%;
    margin: auto;
    padding: 50px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #00aaff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
